# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the go pprof tool for memory monitoring
*.pprof

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# build folder
build

# docs go file
docs/docs.go

# uploads folder
uploads
# logs folder
logs/**/*.log
test/api/logs/**/*.log
**/*.txt

# ide
.idea/

*.key
*.pem
*.srl
*.crt
*.csr
